<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:motan="http://api.weibo.com/schema/motan"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd     http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd   http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd   http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd http://api.weibo.com/schema/motan http://api.weibo.com/schema/motan.xsd">

    <!-- 启用注解 -->
    <context:annotation-config/>
    <!--启动定时器-->
    <task:annotation-driven/>

    <context:component-scan base-package="cn.mrdear.consumer"/>

    <motan:registry regProtocol="zookeeper" name="my_zookeeper" address="127.0.0.1:2181"/>

    <motan:referer id="userService" interface="cn.mrdear.client.service.IUserService"
                   registry="my_zookeeper"/>
</beans>