<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.mrdear.mapper.UserMapper">
    <!--开启二级缓存-->
    <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>
    <!--根据id查询用户详情-->
    <select id="findById" parameterType="int" resultType="cn.mrdear.entity.User">
        SELECT * FROM user WHERE id=#{id}
    </select>
</mapper>